<div>
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation">
            <a ng-href="/">Wszystkie</a>
        </li>
        <li role="presentation">
            <a ng-href="/book/type/1" ng-click="setBookType(1)">Audiobooki</a>
        </li>
        <li role="presentation">
            <a ng-href="/book/type/2" ng-click="setBookType(2)">E-booki</a>
        </li>
        <li role="presentation">
            <a ng-href="/book/newest">Nowości</a>
        </li>
        <li role="presentation">
            <a ng-href="/book/previews">Zapowiedzi</a>
        </li>
        <li role="presentation">
            <a ng-href="/book/opportunity">Super Okazje</a>
        </li>
    </ul>
</div>

